* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #2b2b2b;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: #2e5be2;
}
.fr {
  float: right;
}

.btn {
  text-align: center;
}
.btn button {
  margin: 0 5px;
  background: #3860da;
  color: #fff;
  outline: none;
  border: 1px solid rgba(0, 0, 0, .01);
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, .1);
  &:hover {
    opacity: .7;
  }
}
.colors {
  list-style: none;
  margin-top: 10px;
  li {
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 4px dashed transparent;
    box-sizing: border-box;
    margin: 0 3px;
    border-radius: 2px;
    cursor: pointer;
    &.active {
      border-color: #f0f8fc;
    }
  }
}
.content {
  padding: 20px 0;
}
.help {
  line-height: 2;
  color: #aaa;
  font-size: 14px;
}
pre {
  font-size: 14px;
  background: #fafafa;
  padding: 15px;
  border-radius: 4px;
  margin-top: 1em;
  line-height: 1.6;
  .keyword, .attr, .name, .tag {
    color: #3182bd;
  }
  .string {
    color: #756bb1;
  }
}
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 4px;
  thead {
    background: #fafafa;
  }
  td, th {
    text-align: left;
    border: 1px solid #eee;
    padding: 10px;
  }
  li {
    list-style: none;
  }
}
// section-1
.section-1 {
  background: #f0f8fc;
  padding: 50px 0;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  .title {
    font-size: 40px;
    font-family: cursive;
  }
  .sub-title {
    font-size: 13px;
    color: #aaa;
  }
  .vue-signature {
    margin: 0 auto;
  }
  .signature {
    border: 1px dashed #ccc;
    display: block;
    margin: 0 auto;
  }
}
.section-2 {
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 14px;
  }
}
